@charset "UTF-8";

.custom-row {
  //border: 1px solid #ccc;
}

.custom-col-left-sidebar {
  //border-right: 1px solid #ccc;
  height: 100%;
  //line-height: 130px;
  text-align: left;
  margin-top: 25px;
  margin-right: 5px;
}

.custom-col-right-sidebar {
  //border-right: 1px solid #ccc;
  height: 100%;
  //line-height: 130px;
  text-align: left;
  margin-top: 42px;
  margin-left: 5px;
}

.custom-col-content {
  overflow: hidden;
}

.custom-label {
  background-color: transparent;
}

.next-tree.next-node-indent .next-tree-node-label {
  background-color: transparent;
  color: #ffffff;
 }

.next-tabs.next-medium .next-tabs-tab-inner {
  font-size: 14px;
  padding: 12px 16px; 
  color: #ffffff;
}

.next-input {
  width: 100%;
  height: 30px;
  border-radius: 0;
}
